parameters:
    level: max
    paths:
        - app
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
    		- '#Call to an undefined method [a-zA-Z0-9\\_]+::method\(\)#'
